.Topnavbar{
  position:fixed;
  width: 100%;
    height: 82px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .12);
    padding: 15px;
    z-index: 999;
    font-size: 16px;
    padding: 0;
    top:0;
  }

  .Topnavbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    margin: 5px;
    justify-content: space-between;
    margin: 0;
    padding: 0 35px;
  }

.Topnavbar-container--left_side  {
  display: flex;
  width: 25%;
  padding: 15px;
  justify-content: space-around;
  }


  .vertical_line{
    height: 158%;
    width: 20px;
    margin-top: -15px;
    border-right-style: solid;
    border-color: lightgray;
    border-width: 1px;
  }


.Topnavbar-container--Right_side {
  border-left-style: solid;
  border-color: lightgray;
  border-width: 1px;
  padding: 15px;
  display: flex;
  width: 15%;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-basis: fit-content;
}


.Topnavbar-container--Right_side div{
  margin-left: 10px;
}

.menu-icon{
      display: none;
      font-size: 34px;
      margin: 22px;
      margin-top: 25px;
}

.login_link{
  text-decoration: none;
color: #666;
cursor: pointer;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}

.login_link:hover {
   color:black;
}

.logo_image{
  width: 170px;
  height: 60px;
}

.button-orange{
  cursor: pointer;
}


@media (max-width: 1100px) {
  .menu-icon{
    display: block;
    margin-right: 30px;
    margin-top: 20px;
    color:#004269;
}
 
.Topnavbar-container--Right_side {
    display: none;
   
}

.logo_image{
  height: 50px;
  width: 132px;
}

.Data_link{
    display: none;
}

.vertical_line{
  margin-left: 15px;
  display: none;
}
}



