

.popup_overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    user-select: none;
}

.popup_heading{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0;
}

.popup_div{
position: fixed;
background: #fff;
padding: 20px;
margin-left: 37%;
margin-top: 20vh;
border-radius: 25px;
width: 450px;
height: 55vh;
}

.popup_form{
    display: flex;
    flex-direction: column;
}

.popup_form:active{
    outline: none;
    border: none;
}

.popup_field{
    border: none;
    border-bottom: 1px solid #004369;
    height: 35px;
}

.popup_label{
    text-align: left;
    margin-top: 10px;
}

.popup_button{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin-top: 30px;
}

.name_style{
    display: flex;
    width: 107%;
}

.button-gray{
    background-color: lightgrey !important;
    color: black !important; 
}







@media (max-width: 700px) {

    .popup_div{
        padding: 13px;
        margin-left: 2%;
        width: 433px;
        }
 
}

