.resetpassword-container{
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);
    width: 95%;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
    background: #fff;
}

.resetpassword-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.resetpassword-field{
   display: flex;
   flex-direction: column;
   display: flex;
   flex-direction: column;
   height: 50px;
   border: 1px solid #e0e0e0;
   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .05);
   border-radius: 5px;
   width: 440px;
  
}


.resetpassword-field-container{
    display: flex;
    flex-direction: column;
    height: 135px;
    justify-content: space-evenly;
    margin-right: 25px;
  }


.resetpassword-heading{
    font-size: 20px;
    font-weight: normal;
}


.update-button-style{
    color: white;
    background-color: black;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
}


.resetpassword-layout{
    justify-content: center;
display: flex;
flex-direction: column;
align-items: flex-start;
}