.sidenavbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #fff;
    width: 15%;
    left: 0;
    margin-top: 61px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .12);
    position: fixed;
    }

    .sidenavbar-item{
        display: flex;
        height: 35vh;
       flex-direction: column;
       width: 75%;
       margin: 52px auto;
      justify-content: space-evenly;
      padding-left: 40px;
    }

    .sidebarlink{
        text-decoration: none;
        color: gray;
    }
    
    .sidebarlink:hover{
        background-color: #f6f7fe;
    }
    
    