.minicard{
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
    margin-left: -5px;
}

.minicard-title{
    color: gray;
    font-size: 15px;
}


.counter{
    margin-top: -21px;
    line-height: 3px;
    font-size: 20px;
}